<section class="about-container" [ngClass]="{'about-container-dark': theme == 'dark'}">
    <div class="container">
        <p class="am-title">About Me</p>
        <div class="about-me-container">
            <div class="about-me">


                <div class="neo-light about-item-1 " [ngClass]="{'neo-dark': theme == 'dark'}">
                    <img src="./assets/img/profile_pic.jpg" class="profile-pic" alt="">
                </div>
                <div class="about-item-2">
                    <h2 class="text-muted m-all-0">Hello, </h2>
                    <h2 class="color-teal m-all-0">I'm Rahul Prabhakar</h2>
                    <div class="dash"></div>
                    <h5>Software Developer</h5>
                    <p class="text-muted text-justify">I am a software developer based out of Chennai, India. I have professional experience in the field of web-development focused on networks and cybersecurity. I enjoy designing and developing web and mobile apps. </p>

                </div>
            </div>
            <section class="wci-container">
                <h5 class="about-title text-muted">What Can I Do?</h5>
                <div class="dash"></div>
                <section class="service-container">
                    <div class="neo-light service-box" [ngClass]="{'neo-dark': theme == 'dark'}">
                        <img src="./assets/img/coding_.svg" class="img-fluid" alt="">
                        <div class="service-description">
                            <h4>Web Development</h4>
                            <p class="text-justify text-muted">A full-stack web developer who enjoys building complex and responsive web applications from scratch.</p>

                        </div>
                    </div>
                    <div class="neo-light service-box" [ngClass]="{'neo-dark': theme == 'dark'}">
                        <img src="./assets/img/designer_.svg" class="img-fluid" alt="">
                        <div class="service-description">
                            <h4>App Development</h4>
                            <p class="text-justify text-muted">A mobile App Developer experienced in building native and hybrid mobile apps.</p>

                        </div>
                    </div>
                    <div class="neo-light service-box " [ngClass]="{'neo-dark': theme == 'dark'}">
                        <img src="./assets/img/ux.svg" class="img-fluid" alt="">
                        <div class="service-description">
                            <h4>UI/UX Design</h4>
                            <p class="text-justify text-muted">A UI/UX designer who appreciates simplicity, minimalism, and thoughtful interactions.</p>

                        </div>
                    </div>
                </section>
            </section>
            <section class="skills-container">
                <h5 class="about-title text-muted">SKILLS</h5>
                <div class="dash"></div>
                <h6 class="sub-heading">Languages</h6>

                <div>
                    <span *ngFor="let skill of skills?.languages">
                            <span class="skill-box text-muted" [ngClass]="{'skill-box-dark': theme == 'dark'}">{{skill.title}}</span>
                    </span>
                </div>
                <h6 class="sub-heading">Frameworks & Libraries</h6>

                <div>
                    <span *ngFor="let framework of skills?.frameworks">
                            <span class="skill-box text-muted" [ngClass]="{'skill-box-dark': theme == 'dark'}">
                                <!-- <i [class]="skill.icon"></i> &nbsp; -->
                                {{framework.title}}
                            </span>
                    </span>
                </div>

                <h6 class="sub-heading">Other Tools</h6>

                <div>
                    <span *ngFor="let tool of skills?.tools">
                            <span class="skill-box text-muted" [ngClass]="{'skill-box-dark': theme == 'dark'}">
                                <!-- <i [class]="skill.icon"></i> &nbsp; -->
                                {{tool.title}}
                            </span>
                    </span>
                </div>


            </section>
            <section class="experience-container m-b-20">
                <h5 class="about-title text-muted">Work Experience</h5>
                <div class="dash"></div>
                <div class="timeline-container">
                    <span class="vertical-line"></span>
                    <div class="tcl-dev-container">
                        <div>
                            <div class="timeline-circle">2020</div>
                        </div>
                        <div class="job-details-container neo-light" [ngClass]="{'neo-dark': theme == 'dark'}">
                            <div>
                                <h5 style="color: #10B299;" class="m-all-0">Engineer (Software Developer)</h5>
                                <div class="job-title-container">
                                    <div><small class="text-muted">Tata Communications Limited.</small></div>
                                    <div><small class="text-muted">July 2018 - January 2020</small></div>
                                </div>
                                <div class="job-description">
                                    <ul class="p-all-10 m-all-0">
                                        <li> Primarily worked on developing and maintaining Cyber-security projects namely, SIEM (Security Information and Event Management), CTI (Cyber Threat Intelligence) and SOAR (Security Orchestration, Automation and Response).</li>
                                        <li>Worked on the development of a data visualization tool using Angular and Highcharts, to visualize raw data from Elasticsearch</li>
                                        <li>Worked on the development of an Internet performance monitoring tool using Springboot and Python to monitor and analyze network traffic data.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tcl-dev-container">
                        <div>
                            <div class="timeline-circle">2018</div>
                        </div>
                        <div class="job-details-container neo-light" [ngClass]="{'neo-dark': theme == 'dark'}">
                            <h5 style="color: #10B299;" class="m-all-0">Project Trainee</h5>
                            <div class="job-title-container">
                                <div><small class="text-muted">Tata Communications Limited.</small></div>
                                <div><small class="text-muted">February 2018 - May 2018</small></div>
                            </div>
                            <div class="job-description">
                                <ul class="p-all-10 m-all-0">
                                    <li>Developed an NLP/NLU based chatbot engine using RASA Stack and Flowable, which automates the L1 operations.</li>
                                    <li>Reengineered the NLU training algorithm by allowing the chatbot to learn the user intents dynamically</li>
                                    <li>Developed a fallback mechanism to analyze the intent classification and its confidence to respond with a default fallback message </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>