.about-container {
    color: #343434;
}

.about-container-dark {
    color: #c8c8c8
}

.about-title {
    font-weight: 600;
    padding-top: 1em;
    text-transform: uppercase;
}

.about-me-container {
    position: relative;
    /* height: calc(100vh - 100px); */
}

.skills-container,
.wci-container,
.experience-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.timeline-circle {
    padding: 16px 10px;
    background: #10B299;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    color: #fff;
    transform: scale(0.9);
}

.skill-box {
    padding: 8px 16px;
    display: inline-block;
    border-radius: 8px;
    margin: 8px;
    background: #ebebeb;
    box-shadow: 5px 5px 12px #bdbdbd, -5px -5px 12px #ffffff;
}

.skill-box-dark {
    background: #1C1C1C;
    box-shadow: 5px 5px 9px #111111, -5px -5px 9px #272727;
}

.sub-heading {
    display: inline-block;
    padding: 10px 5px;
    margin: 0px 8px;
    color: #10B299;
}

.timeline-container {
    position: relative;
}

.vertical-line {
    position: absolute;
    height: 100%;
    width: 3px;
    left: 26px;
    background: #ababab;
    /* box-shadow: 5px 5px 9px #111111, -5px -5px 9px #272727; */
    border-radius: 8px;
}

.job-description {
    font-size: 0.9em;
    opacity: 0.8;
    line-height: 1.8;
}

.job-title-container {
    line-height: 1.2;
    padding: 5px 0;
}

.job-details-container {
    display: inline-block;
    padding: 20px;
    margin: 0 1em;
    border-radius: 16px;
    flex: 1;
}

.am-title {
    padding-top: 20px;
    font-weight: 500;
    font-size: 1.2em;
    display: inline-block;
    border-bottom: 3px solid #10B299;
}

.about-me {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.tcl-dev-container {
    padding: 1em 0;
    /* margin: 2em 0; */
    display: flex;
    align-items: center;
}

.dash {
    width: 36px;
    height: 5px;
    margin: 8px 0 16px 0;
    background-color: #10b299;
}

.about-me p {
    line-height: 1.7;
    /* font-size: 1.1em; */
}

.profile-pic {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
    border-radius: 50%;
    filter: saturate(0.7);
    /* box-shadow: 1px 13px 0px 14px #10b29991; */
}

.about-item-2 {
    padding: 0 2em 0 2em;
}

.about-item-1 {
    border-radius: 16px;
    align-self: start;
    padding: 10px;
    border-radius: 50%;
}

.service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.am-title {
    padding-top: 20px;
    font-weight: 500;
    font-size: 1.2em;
    display: inline-block;
    border-bottom: 3px solid #10B299;
}

.service-box {
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    margin: 16px;
    text-align: center;
}

.service-box>img {
    width: 60%;
    min-height: 200px;
    align-items: center;
    opacity: 0.85;
}

.service-description {
    min-height: 150px;
    margin-top: 8px;
}

.service-description>p {
    padding: 8px;
}

.bar-container {
    padding: 20px 0;
}

@media only screen and (max-width:992px) {
    .about-me {
        flex-direction: column;
    }
    .service-container {
        flex-direction: column;
        /* padding: 2.5em; */
    }
    .service-description {
        min-height: auto;
    }
    .about-item-1 {
        align-self: center;
    }
    .about-item-2 {
        padding: 0;
    }
    .bar-container {
        padding: 16px 0;
    }
}