<section class="projects-container" [ngClass]="{'projects-container-dark': theme == 'dark'}">
    <div class="container">
        <p class="am-title">Projects</p>
        <div class="row m-t-20 m-b-20">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let project of projectData">
                <div>
                    <div class="project-box" [ngClass]="{'project-box-dark': theme == 'dark'}">
                        <img src="./assets/img/{{project.imgSrc}}" class="img-fluid" alt="" [ngStyle]="{visibility:isLoading?'hidden':''}" (load)="hideLoader()" (error)="hideLoader()">
                        <div *ngIf="!isLoading">Test</div>
                        <div class="project-desc">
                            <h5>{{project.name}}</h5>
                            <span class="tags-container" *ngFor="let tag of project.tags">
                                <span class="tags">{{tag}}</span>
                            </span>
                            <p>{{project.description}}</p>
                            <div class="m-t-20 text-center">
                                <span class="neo-light view-btn" [ngClass]="{'neo-dark': theme == 'dark'}" *ngIf="project.links && project.links.direct && project.links.direct.value" (click)="onOpenLink(project.links.direct.link)"><i class="fas fa-eye"></i>&nbsp; View Project</span>
                                <span class="neo-light view-btn" [ngClass]="{'neo-dark': theme == 'dark'}" *ngIf="project.links && project.links.npm && project.links.npm.value" (click)="onOpenLink(project.links.npm.link)"><i class="fab fa-npm"></i>&nbsp; npmjs</span>
                                <span class="neo-light view-btn" [ngClass]="{'neo-dark': theme == 'dark'}" *ngIf="project.links && project.links.github && project.links.github.value" (click)="onOpenLink(project.links.github.link)"><i class="fab fa-github"></i>&nbsp; Github</span>
                                <span class="neo-light view-btn" [ngClass]="{'neo-dark': theme == 'dark'}" *ngIf="project.links && project.links.gplay && project.links.gplay.value" (click)="onOpenLink(project.links.gplay.link)"><i class="fab fa-google-play" ></i>&nbsp; Google Play</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>