<section>
    <div class="section-container" [ngClass]="{ 'section-container-dark': theme == 'dark' }">
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar" [ngClass]="{ 'navbar-dark': theme == 'dark' }">
            <ul class="navbar-nav ml-auto p-b-20 p-t-20">
                <li class="nav-item custom-slider">
                    <span class="nav-link menu-text m-r-10 p-all-0"> 
                    <slider [theme]="theme" (onThemeChange)="setTheme($event)"></slider>
                </span>
                </li>
                <li class="nav-item custom-close" (click)="onNavigateBack()">
                    <span class="nav-link menu-text m-r-10"> 
                      <span class="p-l-10 cursor-pointer neo-light menu-button" [ngClass]="{ 'neo-dark': theme == 'dark' }">
                        <i class="fas fa-times action-icon" style="font-size:20px;" [ngClass]="{ 'action-icon-dark': theme == 'dark', 'action-icon-light': theme == 'light' }"></i> 
                  </span>
                    </span>
                </li>
            </ul>
        </nav>
        <div class="menu-container height-max p-t-20" [ngClass]="{ 'menu-container-dark': theme == 'dark' }">
            <!-- <div #lottie class="lottie-screen"></div> -->
            <!-- <div class="display-4 text-center page-title" [ngClass]="{ 'page-title-dark': theme == 'dark' }" aTilt>MENU</div> -->
            <div class="menu-section text-center">
                <div class="menu-items">
                    <span class="cursor-pointer"><a routerLink="/"><i class="fas fa-home neo-light neo-button menu-buttons m-t-20" [ngClass]="{ 'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark' }"></i><div class="menu-label">HOME</div></a></span>
                    <span class="cursor-pointer "><a routerLink="/projects"><i class="fas fa-briefcase neo-light neo-button menu-buttons m-t-20" [ngClass]="{ 'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark' }"></i><div class="menu-label">PROJECTS</div></a></span>
                    <span class="cursor-pointer "><a routerLink="/about"><i class="fas fa-user neo-light neo-button menu-buttons m-t-20" [ngClass]="{ 'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark' }"></i><div class="menu-label">ABOUT</div></a></span>
                </div>
            </div>
        </div>

    </div>
</section>