.app-container {
    display: flex;
    flex-direction: row;
    /* background-color: #E7E7E7; */
}

.app-container-dark {
    background: #1A1A1A;
}

.app-nav {
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    color: #bcbec0;
    flex: 0 0 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 100;
    background: #F7F7F7;
    box-shadow: -5px 5px 8px #d2d2d2, 5px -5px 8px #dbdbdb;
}

.app-nav-dark {
    background: #191919;
    color: #656565;
    box-shadow: -5px 5px 8px #000000, 5px -5px 8px #161616;
}

.app-logo {
    align-self: start;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
}

.app-nav-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.app-theme {
    margin-bottom: 5px;
}

.app-route {
    width: 100%;
    margin-left: 100px;
    /* height: 100vh; */
}

.menu-buttons {
    font-size: 1em;
    border-radius: 8px;
    background: #f4f4f4;
    box-shadow: 5px 5px 6px #d2d2d2, -5px -5px 6px #ffffff;
}

.menu-buttons-dark {
    background: #191919;
    box-shadow: 3px 3px 5px #0e0e0e, -1px -1px 5px #252523;
}

.menu-buttons:hover {
    background: #f4f4f4;
    box-shadow: inset 5px 5px 6px #d2d2d2, inset -5px -5px 6px #ffffff;
    color: #10b299;
}

.menu-buttons-dark:hover {
    background: #232323;
    box-shadow: inset 3px 3px 5px #101010, inset -1px -1px 5px #333333;
    color: #00f3ff;
    text-shadow: 0 0 15px #00f3ff;
}

.menu-button-selected {
    color: #10b299;
}

.menu-button-selected-dark {
    color: #00f3ff;
}

.logo-button {
    border-radius: 50%;
    padding: 16px 4px;
    background: #ff6057;
    color: #fff;
    font-size: 0.9em;
    font-weight: 700;
}

.menu-label {
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 5px;
}

@media only screen and (max-width:768px) {
    .app-logo {
        display: none;
    }
    .app-nav {
        height: auto;
        width: auto;
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        flex-direction: row;
        padding-top: 8px;
        box-shadow: 1px 1px 3px 0px #595959;
    }
    .app-theme {
        margin-bottom: 0;
    }
    .app-nav-dark {
        box-shadow: 1px -2px 5px #282828;
    }
    .app-nav-btn {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .app-route {
        margin-bottom: 70px;
        margin-left: 0px;
    }
    .menu-buttons {
        padding: 12px;
    }
    .menu-label {
        font-size: 0.7em;
    }
}