<section class="app-container" [ngClass]="{'app-container-dark': theme=='dark'}">
    <nav class="text-center app-nav" [ngClass]="{'app-nav-dark': theme=='dark'}">
        <div class="app-logo">
            <span class="cursor-pointer logo" [ngClass]="{'logo-dark': theme=='dark'}" routerLink="/">&lt;RP/&gt;</span>
        </div>
        <div class="app-nav-btn">
            <span class="cursor-pointer m-t-auto"><a routerLink="/">
                <i class="fas fa-home neo-light neo-button menu-buttons"  [ngClass]="{ 
                'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark', 
                'menu-button-selected': (router && router.url=='/' && theme == 'light'), 
                'menu-button-selected-dark': (router && router.url=='/' && theme == 'dark') 
            }"></i>
            <div class="menu-label">HOME</div></a>
            </span>

            <span class="cursor-pointer m-t-20-md"><a routerLink="/about"><i class="fas fa-user neo-light neo-button menu-buttons" [ngClass]="{
                'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark', 
                'menu-button-selected': (router && router.url=='/about' && theme == 'light'), 
                'menu-button-selected-dark': (router && router.url=='/about' && theme == 'dark')
                }"></i>
                <div class="menu-label">ABOUT</div></a></span>

            <span class="cursor-pointer m-t-20-md"><a routerLink="/projects"><i class="fas fa-briefcase neo-light neo-button menu-buttons" [ngClass]="{ 
                'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark' , 
                'menu-button-selected': (router && router.url=='/projects' && theme == 'light'), 
                'menu-button-selected-dark': (router && router.url=='/projects' && theme == 'dark')
            }"></i>
            <div class="menu-label">PROJECTS</div></a></span>


            <div class="app-theme m-t-auto">
                <span class="cursor-pointer" *ngIf="theme && theme.includes('light')" (click)="setTheme('dark')"><i class="fas fa-moon neo-light neo-button menu-buttons" [ngClass]="{ 'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark' }"></i><div class="menu-label">THEME</div></span>
                <span class="cursor-pointer" *ngIf="theme && theme.includes('dark')" (click)="setTheme('light')"><i class="fas fa-sun neo-light neo-button menu-buttons" [ngClass]="{ 'neo-dark neo-button-dark menu-buttons-dark': theme == 'dark' }"></i><div class="menu-label">THEME</div></span>
            </div>


        </div>

    </nav>
    <div class="app-route section-container " [ngClass]="{ 'section-container-dark': theme == 'dark' }" [@routeAnimations]="{value: o && o.activatedRouteData 
        && o.activatedRouteData['animation'], params: {width: getWidth()}}">
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar" [ngClass]="{ 'navbar-dark': theme == 'dark' }">
            <span class="cursor-pointer logo logo-md-hidden" [ngClass]="{'logo-dark': theme=='dark'}" routerLink="/">&lt;RP/&gt;</span>

            <ul class="navbar-nav ml-auto p-t-10 p-b-10">
                <li class="nav-item">
                    <span class="nav-link menu-text m-r-10"> 
                            <span class="p-l-10 cursor-pointer neo-light menu-button" [ngClass]="{ 'neo-dark': theme == 'dark' }">
                            <a href="mailto: rahulprabhakar0596@gmail.com"> <i class="fas fa-envelope"  style="font-size:20px;"></i><span class="display-xs-none"> &nbsp; Say Hello </span></a>
                    </span>
                    </span>
                </li>
            </ul>
        </nav>
        <router-outlet #o="outlet"></router-outlet>
    </div>
</section>
<!-- [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']" -->