.height-max {
    height: calc(100vh - 100px);
}

.home-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.home-item-1 {
    width: 100%;
    height: 100%;
    flex: 1.5;
    display: flex;
    align-items: center;
}

.home-item-2 {
    width: 100%;
    height: 60%;
    flex: 1.2;
    display: flex;
    align-items: center;
}

.home-item-3 {
    color: #bcbec0;
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 50px;
}

.container-shadow {
    /* border-radius: 16px 0px 0px 16px;
    box-shadow: 4px 3px 12px #bdbdbd, 3px 1px 12px #c3c3c3; */
}

.home-item-3 a {
    color: #bcbec0;
}

.home-item-3 a:hover {
    color: #8b8b8b;
    transition: 1s;
}

.bg-white {
    background: #fff0 !important;
}

.text-lg {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600 !important;
}

.text-lg-dark {
    color: rgba(255, 255, 255, 0.7);
}

.text-md {
    color: rgba(0, 0, 0, 0.5);
}

.text-md-dark {
    color: rgba(255, 255, 255, 0.5);
}

.intro-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.intro-para {
    line-height: 2;
    font-size: 1.2em;
    padding: 24px 48px;
    font-weight: 400;
}

.about-me-container {
    height: 100vh;
    background: #f8f8f8;
}

.about-me-container-dark {
    background: #202020;
}

code {
    color: #569cd6 !important;
}

.lottie-screen {
    width: 50%;
    margin: 0 auto;
}

.navbar-nav {
    flex-direction: row;
}

.open-menu-sm {
    display: none;
}

@media only screen and (max-width:1024px) {
    .home-item-3 {
        margin: 0;
    }
    .home-item-1 {
        align-items: center;
    }
}

@media only screen and (max-width:992px) {
    .home-container {
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }
    .home-item-1 {
        width: 100%;
        height: 100%;
        display: flex;
        order: 1;
        align-items: center;
    }
    .home-item-2 {
        width: 100%;
        height: 100%;
        order: 3;
        flex-direction: column;
        /* display: none; */
    }
    .home-item-3 {
        color: #bcbec0;
        width: 100%;
        /* flex: 0 0 60px; */
        order: 2;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        margin: 0;
    }
    .text-lg {
        font-size: 3em;
    }
    .intro-para {
        font-size: 1em;
    }
    .intro-container {
        width: 90%;
        margin-bottom: 50px;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .open-menu-sm {
        display: inline-block;
    }
    .height-max {
        height: auto !important;
    }
}

@media only screen and (max-width:768px) {}